<section class="checkout_area section_gap">
    <div class="container">
        <div class="billing_details">
            <div class="row">
                <div class="col-lg-8">
                    <h3>Billing Details</h3>
                    <form class="row contact_form" action="#" method="post" novalidate="novalidate">
                        <div class="col-md-6 form-group ">
                            <input type="text" class="form-control" placeholder="First name" id="first" name="name" />
                        </div>
                        <div class="col-md-6 form-group ">
                            <input type="text" class="form-control" placeholder="Last name" id="last" name="name" />
                        </div>
                        <div class="col-md-6 form-group ">
                            <input type="text" class="form-control" placeholder="Phone number" id="number" name="number" />
                        </div>
                        <div class="col-md-6 form-group ">
                            <input type="text" class="form-control" placeholder="Email Address" id="email" name="email" />
                        </div>
                        <div class="col-md-12 form-group ">
                            <input type="text" class="form-control" placeholder="Address" id="address" name="address" />
                        </div>
                        <div class="col-md-12 form-group ">
                            <input type="text" class="form-control" placeholder="City" id="city" name="city" />
                        </div>
                        <div class="col-md-12 form-group ">
                            <input type="text" class="form-control" placeholder="State" id="state" name="state" />
                        </div>
                        <div class="col-md-12 form-group ">
                            <input type="text" class="form-control" placeholder="Country" id="country" name="country" />
                        </div>
                    </form>
                </div>
                <div class="col-lg-4">
                    <div class="order_box">
                        <h2>Your Order</h2>
                        <ul class="list">
                            <li>
                                <a href="#">
                                    Product
                                    <span>Total</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Fresh Blackberry
                                    <span class="middle">x 02</span>
                                    <span class="last">$720.00</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Fresh Tomatoes
                                    <span class="middle">x 02</span>
                                    <span class="last">$720.00</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Fresh Brocoli
                                    <span class="middle">x 02</span>
                                    <span class="last">$720.00</span>
                                </a>
                            </li>
                        </ul>
                        <ul class="list list_2">
                            <li>
                                <a href="#">
                                    Subtotal
                                    <span>$2160.00</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Shipping
                                    <span>Flat rate: $50.00</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Total
                                    <span>$2210.00</span>
                                </a>
                            </li>
                        </ul>
                        <a class="main_btn" href="#">Order</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>