
@{
    ViewData["Title"] = "Login";
}

<div class="container mt-2">
    <div class="row">
        <div class="col-md-5 mx-auto">
            <div id="first">
                <div class="myform form">
                    <div class="logo mb-3">
                        <div class="col-md-12 text-center">
                            <h1>Login</h1>
                        </div>
                    </div>
                    <form asp-action="Login" method="post">
                        <input type="hidden" name="action" value="login"/>
                        <div class="form-group">
                            <label for="UserName" class="control-label">Username:</label>
                            <input name="UserName" type="text" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label for="Password" class="control-label">Password:</label>
                            <input name="Password" type="password" class="form-control" />
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Log in" class="btn btn-primary" />
                        </div>
                        <div class="form-group">
                            <p class="text-center">Don't have account? <a href="#" id="signup" onclick="toggleForm()">Sign up here</a></p>
                        </div>
                    </form>
                </div>
            </div>
            <div id="second" class="d-none">
                <div class="myform form ">
                    <div class="logo mb-3">
                        <div class="col-md-12 text-center">
                            <h1>Signup</h1>
                        </div>
                    </div>
                    <form asp-action="Login" method="post">
                        <input type="hidden" name="action" value="register" />
                        <div class="form-group">
                            <label for="UserName">Username</label>
                            <input type="text" name="UserName" class="form-control" id="username" placeholder="Enter Username...">
                        </div>
                        <div class="form-group">
                            <label for="Password">Password</label>
                            <input type="password" name="Password" id="password" class="form-control" placeholder="Enter Password">
                        </div>
                        <div class="col-md-12 text-center mb-3">
                            <input type="submit" value="Sign Up" class="btn btn-primary" />
                        </div>
                        <div class="col-md-12 ">
                            <div class="form-group">
                                <p class="text-center"><a href="#" id="signin" onclick="toggleForm()">Already have an account?</a></p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>   

<script>

    const loginForm = document.getElementById("first");
    const signupForm = document.getElementById("second");

    const toggleForm = () => {
        if (loginForm.classList.contains("d-none")) {
            loginForm.classList.remove("d-none");
            signupForm.classList.add("d-none");
        }
        else {
            signupForm.classList.remove("d-none");
            loginForm.classList.add("d-none");
        }

    }

  
</script>